In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('titanic')

## describe()

In [3]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [6]:
df.describe(include='object')

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

## count()

In [8]:
df.count()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [9]:
df['age'].count()

np.int64(714)

## mean()

In [15]:
arr = np.arange(15).reshape(3, 5)
# 뒤에 놓침

In [16]:
df.mean(numeric_only=True)

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [17]:
df['age'].mean()

np.float64(29.69911764705882)

In [18]:
cond = df['adult_male'] == True
df.loc[cond, 'age'].mean()

np.float64(33.17312348668281)

- fare를 30이상 40미만 지불한 승객
- pclass 1등급

=> 나이 평균 / count

In [32]:
c1 = df['fare'] >= 30
c1_1 = df['fare'] < 40
c2 = df['pclass'] == 1
new = df.loc[c1 & c1_1 & c2]
print(new['age'].mean(), '/', new['age'].count())

44.095238095238095 / 21

In [34]:
df.loc[c1 & c1_1 & c2, 'age']

23     28.0
55      NaN
96     71.0
170    61.0
174    56.0
209    40.0
270     NaN
298     NaN
339    45.0
351     NaN
449    52.0
462    47.0
492    55.0
515    47.0
556    48.0
607    27.0
625    61.0
630    80.0
632    32.0
647    56.0
740     NaN
766     NaN
782    29.0
793     NaN
842    30.0
853    16.0
887    19.0
889    26.0
Name: age, dtype: float64

In [37]:
df.mean(numeric_only=True, skipna=False) # skipna => 숫자가 한 개라도 없는 경우 평균 안 냄 !(결측치 확인 가능)

survived       0.383838
pclass         2.308642
age                 NaN
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

### median

In [41]:
pd.Series([1, 2, 3, 4, 999]).median()

np.float64(3.0)

In [42]:
pd.Series([1, 2, 3, 4, 999]).mean()

np.float64(201.8)

In [43]:
pd.Series([1, 2, 3, 4, 5, 6]).median()

np.float64(3.5)

In [44]:
mean_value = df['age'].mean()
median_value = df['age'].median()
print(mean_value, median_value)

29.69911764705882 28.0

### sum

In [45]:
df.sum(numeric_only=True)

survived        342.0000
pclass         2057.0000
age           21205.1700
sibsp           466.0000
parch           340.0000
fare          28693.9493
adult_male      537.0000
alone           537.0000
dtype: float64

In [46]:
df['fare'].sum()

np.float64(28693.9493)

In [47]:
df['fare'].cumsum()

0          7.2500
1         78.5333
2         86.4583
3        139.5583
4        147.6083
          ...
886    28602.7493
887    28632.7493
888    28656.1993
889    28686.1993
890    28693.9493
Name: fare, Length: 891, dtype: float64

In [48]:
df['fare'].cumprod()

0      7.250000e+00
1      5.168039e+02
2      4.095671e+03
3      2.174801e+05
4      1.750715e+06
           ...
886    0.000000e+00
887    0.000000e+00
888    0.000000e+00
889    0.000000e+00
890    0.000000e+00
Name: fare, Length: 891, dtype: float64

In [49]:
df['age'].cumprod()

C:\Users\2-14\Desktop\DMF\pandas\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

0            22.0
1           836.0
2         21736.0
3        760760.0
4      26626600.0
          ...
886           inf
887           inf
888           NaN
889           inf
890           inf
Name: age, Length: 891, dtype: float64

### var (분산)

In [53]:
# 평균
fare_mean = df['fare'].values.mean()

total = ((df['fare'].values - fare_mean) ** 2).sum()
total_count = df['fare'].count() - 1
my_var = total / total_count
my_var

np.float64(2469.436845743116)

In [54]:
df['fare'].var()

np.float64(2469.436845743116)

### std (표준편차)

In [55]:
np.sqrt(df['fare'].var())

np.float64(49.6934285971809)

In [56]:
df['fare'].std()

np.float64(49.6934285971809)

### min, max

In [57]:
df['age'].max()

np.float64(80.0)

In [58]:
df['age'].min()

np.float64(0.42)

### agg

In [59]:
df['age'].agg(['mean', 'std'])

mean    29.699118
std     14.526497
Name: age, dtype: float64

In [60]:
df[['age', 'fare']].agg(['mean', 'count', 'min', 'max'])

              age        fare
mean    29.699118   32.204208
count  714.000000  891.000000
min      0.420000    0.000000
max     80.000000  512.329200

### quantile (분위)

In [61]:
df['age'].quantile(0.1)

np.float64(14.0)

In [62]:
df['age'].quantile(0.9)

np.float64(50.0)

In [63]:
df['age'].quantile(0.5) # == median

np.float64(28.0)

### unique

In [64]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [65]:
df['who'].nunique()

3

### mode

In [66]:
df['who'].mode()

0    man
Name: who, dtype: object

In [67]:
df['deck'].mode()

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [68]:
df['who'].mode()[0]

'man'

### corr
- -1 ~ 1까지의 값 (반비례~정비례 그래프)

In [70]:
df.corr(numeric_only=True)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [71]:
df.corr(numeric_only=True)['survived']

survived      1.000000
pclass       -0.338481
age          -0.077221
sibsp        -0.035322
parch         0.081629
fare          0.257307
adult_male   -0.557080
alone        -0.203367
Name: survived, dtype: float64